*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

a, a:visited {
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    transition: ease-in-out 0.5s;

}

a:hover {
    color: white;
    transition: ease-in-out 0.5s;
}

.navbar {
    position: fixed;
    width: 100%;
}

nav{
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: center;
    font-size: 1.5rem;
    height: 50px;
}

.navbar  h3{
    margin: 1rem;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    font-size: 1.2rem;
    height: 20px;
}

#icons{
    cursor: pointer;
    display: none;
}

@media (max-width: 700px) {
    #icons {
        display: block;
        padding: 0 1rem;
        font-size: 1.5rem;
    }
    #icons:before {
        content: "\2630";
    }
    .active #icons:before {
        content: "\2715"
    }
    nav ul {
        position: fixed;
        right: -40%;
        top: 50px;
        flex-direction: column;
        background-color: brown;
        width: 40%;
        text-align: center;
        transition: ease-in-out 0.5s;
    }
    nav li {
        padding: 4px 0;
        background-color: rgb(197, 71, 71);
        transition: ease-in-out 0.5s;
    }
    nav li:hover {
        background-color: brown;
        transition: ease-in-out 0.5s;
    }
    nav.active ul {
        right: 0%;
        transition: ease-in-out 0.5s;
    }
}